@model prjTravelPlatformV3.Areas.Employee.ViewModels.TravelPlan.ScheduleView


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">行程安排</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
 <div id="divModalContent" class="modal-body">

    <!--頁籤按鈕-->
    <div class="container">
        <button class="button">Button 1</button>
        <label class="label">Label</label>
        <button class="button">Button 2</button>
    </div>
</div> 
