
    <div class="overflow-scroll scroll-bar-1">
        <table class="table-3 -border-bottom col-12">
            <thead class="bg-light-2">
                <tr>
                    <th>房型</th>
                    <th>下訂日期</th>
                    <th>Execution Time</th>
                    <th>總金額</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The May Fair Hotel</td>
                    <td>04/04/2022</td>
                    <td class="lh-16">Check in : 05/14/2022<br>Check out : 05/29/2022</td>
                    <td class="fw-500">$130</td>
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
