<h3 class="m-4 mb-5"> 編輯航班</h3>

<form id="flightForm" class="mx-5 col-6">
    @Html.AntiForgeryToken()
    <div class="col-md-4">
        <label for="fScheduleId" class="form-label" style="display:none">Id</label>
        <input type="text" class="form-control" id="fScheduleId" name="fScheduleId" style="display:none" />
    </div>
    <div class="col-md-4">
        <label for="fAirlineId" class="form-label">航空公司</label><br />
        <select id="fAirlineId" name="fAirlineId" class="form-select" required>
        </select>
        @* <input type="text" class="form-control" id="fAirlineId" name="fAirlineId" /> *@
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fFlightName" class="form-label">航班代碼</label>
        <input type="text" class="form-control" id="fFlightName" name="fFlightName" required />
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fDepartureTime" class="form-label">起飛時間</label>
        <input type="datetime-local" class="form-control" id="fDepartureTime" name="fDepartureTime" required />
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fArrivalTime" class="form-label">降落時間</label>
        <input type="datetime-local" class="form-control" id="fArrivalTime" name="fArrivalTime" required />
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fDepartureId" class="form-label">起飛地</label><br />
        <select id="fDepartureId" name="fDepartureId" class="form-select" required>
        </select>
        @* <input type="text" class="form-control" id="fDepartureId" name="fDepartureId" /> *@
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fDestinationId" class="form-label">降落地</label><br />
        <select id="fDestinationId" name="fDestinationId" class="form-select" required>
        </select>
        @* <input type="text" class="form-control" id="fDestinationId" name="fDestinationId" /> *@
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fClassId" class="form-label">艙等</label><br />
        <select id="fClassId" name="fClassId" class="form-select" required>
        </select>
        @* <input type="text" class="form-control" id="fClassId" name="fClassId" /> *@
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fTicketPrice" class="form-label">定價</label>
        <input type="text" class="form-control" id="fTicketPrice" name="fTicketPrice" required />
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <div class="col-md-4">
        <label for="fQty" class="form-label">數量</label>
        <input type="text" class="form-control" id="fQty" name="fQty" required />
        <div class="alert alert-warning" id="divWarning" style="display:none"></div>
    </div>
    <button type="button" id="btnSubmit" class="btn btn-primary my-5">儲存</button>
    <button type="button" id="btnBack" class="btn btn-secondary my-5">返回</button>
</form>

@section Scripts {

    <script>

        (async () => {
            //option載入
            await dr_airline();
            await dr_airport();
            await dr_class();
            await loadData();
        })();

        //抓資料
        //由URL上的id取值
        const para = new URLSearchParams(window.location.search);
        var id = para.get('id');

        async function loadData() {
            let data = new FormData();
            data.append('__RequestVerificationToken', document.getElementsByName('__RequestVerificationToken')[0].value);
            data.append('id', id);
            let maindata = await fetch('/api/Flight/EditFlight_Load', {
                method: 'post',
                body: data
            }).then(res => {
                return res.json();
            })

            console.log(maindata);

            //Object.entries() 方法，將一個物件轉換為其對應的鍵/值對的數組
            for (const [index, ele] of Object.entries(maindata)) {
                $(`#${index}`).val(ele);
            }
        }

        const btnSubmit = document.querySelector('#btnSubmit');

        //編輯按鈕
        btnSubmit.addEventListener('click', async (event) => {
            event.preventDefault();

            // 檢查網頁中所有表單的有效性
            let isValid = [...document.forms] // 將所有表單轉換為陣列
                .map(form => form.reportValidity()) // 對每個表單執行驗證並返回驗證結果
                .every(valid => valid); // 檢查所有表單是否都通過驗證

            // 如果有任何一個表單未通過驗證，則阻止進一步的動作
            if (!isValid) {
                return;
            }
            //按下送出後資料會被塞入formData
            const formData = new FormData(document.querySelector('#flightForm'))

            const response = await fetch('/api/Flight/EditFlight_Update', {
                "method": "POST",
                "body": formData
            })
            const data = await response.text();

            //Swal.fire提示框，若資料儲存成功則顯示成功，失敗則顯示error並根據data的文字顯示給使用者失敗提示
            Swal.fire({
                title: data === '資料儲存成功' ? 'Success' : 'Error',
                text: data,
                icon: data === '資料儲存成功' ? 'success' : 'error'
            }).then((result) => {
                if (result.isConfirmed && data === '資料儲存成功') {
                    window.location.href = '/Employee/Flight';
                }
            });
        })

        //返回前一頁
        const btnBack = document.querySelector('#btnBack');
        btnBack.addEventListener('click', () => {
            window.location.href = '/employee/flight';
        })

        ///起飛地跟降落地不相等
        var airport = [];
        const select_Dep = document.querySelector('#fDepartureId');
        const select_Dest = document.querySelector('#fDestinationId');

        //當選了起飛地，降落地選項自動拔除起飛地所選的選項
        select_Dep.addEventListener('change', () => {
            const tmp_val = select_Dest.value;
            let conHTML = `<option value=''>請選擇</option>`;
            airport.filter(x => x.Value != select_Dep.options[select_Dep.selectedIndex].value).forEach((item, index) => {
                conHTML += `<option value=${item.Value}>${item.Text}</option>`
            })
            select_Dest.innerHTML = conHTML;
            select_Dest.value = tmp_val;
        })

        //當選了降落地，起飛地選項自動拔除降落地所選的選項
        select_Dest.addEventListener('change', () => {
            const tmp_val = select_Dep.value;
            let conHTML = `<option value=''>請選擇</option>`;
            airport.filter(x => x.Value != select_Dest.options[select_Dest.selectedIndex].value).forEach((item, index) => {
                conHTML += `<option value=${item.Value}>${item.Text}</option>`
            })
            select_Dep.innerHTML = conHTML;
            select_Dep.value = tmp_val;
        })


        //填充航空公司選項
        async function dr_airline() {
            const response = await fetch('/api/Flight/dr_airline')
            const data = await response.json();   //呼叫API得到JArray
            //console.log(data);

            let dr = document.getElementById('fAirlineId');
            let conHTML = `<option value=''>請選擇</option>`;
            data.forEach((item, index) => {
                conHTML += `<option value=${item.Value}>${item.Text}</option>`
            })
            dr.innerHTML = conHTML;
        }
        //填充機場選項
        async function dr_airport() {
            const response = await fetch('/api/Flight/dr_airport')
            const data = await response.json();

            let dr_departure = document.getElementById('fDepartureId');
            let dr_destination = document.getElementById('fDestinationId');

            let conHTML = `<option value=''>請選擇</option>`;
            data.forEach((item, index) => {
                conHTML += `<option value=${item.Value}>${item.Text}</option>`
                airport.push({ "Text": item.Text, "Value": item.Value });
            })

            dr_departure.innerHTML = conHTML;
            dr_destination.innerHTML = conHTML;
        }
        //填充艙等選項
        async function dr_class() {
            const response = await fetch('/api/Flight/dr_class')
            const data = await response.json();

            let dr = document.getElementById('fClassId');
            dr.innerHTML = '';
            let conHTML = '';
            data.forEach((item, index) => {
                conHTML += `<option value=${item.Value}>${item.Text}</option>`
            })
            dr.innerHTML = conHTML;
        }

        //await Html.RenderPartialAsync("_ValidationScriptsPartial");

    </script>
}