<!DOCTYPE html>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8625474579923345"
            crossorigin="anonymous"></script>
</head>
<html lang="en" data-x="html" data-x-toggle="html-overflow-hidden">
<body>
    <main>
        <section data-anim-wrap class="masthead -type-8">
            <div data-anim-child="fade" class="masthead__bg">
                <img src="~/img/carrent/newbackground2.jpg" alt="image" class="col-12 h-full object-cover">
            </div>

            <div class="container">
                <div class="row justify-center">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h1 class="text-60 lg:text-40 md:text-30 text-dark-1">Search for the Best Car </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div data-anim-child="slide-up delay-7" class="masthead-bottom mt-80 md:mt-40">
                <div class="mainSearch -col-5 -w-1070 mx-auto bg-white pr-20 py-20 lg:px-20 lg:pt-5 lg:pb-20 rounded-4 shadow-1" style="width:90%; border-radius:15px;">
                    <div class="button-grid items-center" style="display:flex; flex-wrap:wrap;">
                        <!-- 取車地點 -->
                        <div class="searchMenu-loc px-30 lg:py-20 lg:px-0 js-form-dd">
                            <div data-x-dd-click="searchMenu-loc">
                                <h4 class="text-15 fw-500 ls-2 lh-16">取車地點</h4>

                                <div class="text-15 text-light-1 ls-2 lh-16">
                                    <input autocomplete="off" type="search" placeholder="城市 或 服務據點" class="js-pickup-search js-dd-focus"/>
                                    <div class="warning-message" style="display: none; color:red;">* 請輸入取車地點</div>
                                </div>
                            </div>

                            <!-- 取車地點搜尋結果 -->
                            <div class="searchMenu-loc__field shadow-2 js-popup-window" data-x-dd="searchMenu-loc" data-x-dd-toggle="-is-active" style="width:150%;">
                                <div class="bg-white px-30 py-30 sm:px-0 sm:py-15 rounded-4" >
                                    <div class="y-gap-5 js-pickup-results">
                                        <div>
                                            <button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-search-option">
                                                <div class="d-flex">
                                                    <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                    <div class="ml-10">
                                                        <div class="text-15 lh-12 fw-500 js-search-option-target">新北</div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div>
                                            <button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-search-option">
                                                <div class="d-flex">
                                                    <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                    <div class="ml-10">
                                                        <div class="text-15 lh-12 fw-500 js-search-option-target">新竹</div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div>
                                            <button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-search-option">
                                                <div class="d-flex">
                                                    <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                    <div class="ml-10">
                                                        <div class="text-15 lh-12 fw-500 js-search-option-target">高雄</div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 還車地點 -->
                        <div class="searchMenu-loc px-30 lg:py-20 lg:px-0 js-form-dd ">
                            <div data-x-dd-click="searchMenu-loc">
                                <h4 class="text-15 fw-500 ls-2 lh-16">還車地點</h4>

                                <div class="text-15 text-light-1 ls-2 lh-16">
                                    <input autocomplete="off" type="search" placeholder="城市 或 服務據點" class="js-dropoff-search js-dd-focus" />
                                    <div class="warning-message" style="display: none; color:red;">* 請輸入還車地點</div>
                                </div>

                            </div>

                            <!-- 還車地點搜尋結果 -->
                            <div class="searchMenu-loc__field shadow-2 js-popup-window" data-x-dd="searchMenu-loc" data-x-dd-toggle="-is-active" style="width:150%;">
                                <div class="bg-white px-30 py-30 sm:px-0 sm:py-15 rounded-4">
                                    <div class="y-gap-5 js-dropoff-results">
                                        <div>
                                            <button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-dropoffsearch-option">
                                                <div class="d-flex">
                                                    <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                    <div class="ml-10">
                                                        <div class="text-15 lh-12 fw-500 js-dropoffsearch-option-target">新北</div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div>
                                            <button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-dropoffsearch-option">
                                                <div class="d-flex">
                                                    <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                    <div class="ml-10">
                                                        <div class="text-15 lh-12 fw-500 js-dropoffsearch-option-target">新竹</div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div>
                                            <button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-dropoffsearch-option">
                                                <div class="d-flex">
                                                    <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                    <div class="ml-10">
                                                        <div class="text-15 lh-12 fw-500 js-dropoffsearch-option-target">高雄</div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="searchMenu-date px-30 lg:py-20 lg:px-0">
                            <div>
                                <h4 class="text-15 fw-500 ls-2 lh-16">取車日期</h4>
                            </div>
                            <div class="input-group date" id="datepicker">
                                <input type="date" id="pickupDate" name="appointment" min="2024-01-01" max="2024-12-31" required>
                                <div class="datetime-warning-message" style="display: none; color:red;">* 取還車日期及時間為必填</div>
                            </div>
                        </div>
                        <div class="searchMenu-pickupTime px-30 lg:py-20 lg:px-0">

                            <div data-x-dd-click="searchMenu-pickupTime">
                                <h4 class="text-15 fw-500 ls-2 lh-16">取車時間</h4>
                            </div>
                            <div class="input-group time capitalize text-15 text-light-1 ls-2 lh-16 " id="timepicker">
                                <input type="time" id="pickupTime" name="pickup_time" min="08:00" max="20:00" required>
                            </div>

                        </div>
                        <div class="searchMenu-date px-30 lg:py-20 lg:px-0">
                            <div>
                                <h4 class="text-15 fw-500 ls-2 lh-16">還車日期</h4>
                            </div>
                            <div class="input-group date" id="datepicker">
                                <input type="date" id="dropoffDate" name="appointment" min="2024-01-01" max="2024-12-31" required>
                            </div>

                        </div>
                        <div class="searchMenu-pickupTime px-30 lg:py-20 lg:px-0">

                            <div data-x-dd-click="searchMenu-pickupTime">
                                <h4 class="text-15 fw-500 ls-2 lh-16">還車時間</h4>
                            </div>
                            <div class="input-group time capitalize text-15 text-light-1 ls-2 lh-16 " id="timepicker">
                                <input type="time" id="dropoffTime" name="pickup_time" min="08:00" max="20:00" required>
                                <div class="warning-message" style="display:none; color:red;">* 還車時間需大於取車時間</div>
                            </div>

                        </div>
                        <div class="button-item" style="flex: 1;">
                            <button id="searchCar" class="mainSearch__submit button -dark-1 py-15 px-35 h-60 col-12 rounded-4 bg-dark-1 text-white">
                                <i class="icon-search text-20 mr-10"></i>
                                尋找
                            </button>
                        </div>
                        
                    </div>
                </div>

                <div class="masthead-slider overflow-hidden js-masthead-slider-8">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <img src="~/img/carrent/hyundai-custin01.jpg" alt="image">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/img/carrent/volvo04.jpg" alt="image">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/img/carrent/lexus03.jpg" alt="image">
                        </div>

                    </div>

                    <div class="masthead-slider__nav -prev">
                        <button class="button -outline-white size-50 flex-center text-white rounded-full js-prev">
                            <i class="icon-arrow-sm-left text-12"></i>
                        </button>
                    </div>

                    <div class="masthead-slider__nav -next">
                        <button class="button -outline-white size-50 flex-center text-white rounded-full js-next">
                            <i class="icon-arrow-sm-right text-12"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="layout-pt-lg layout-pb-md">
            <div data-anim-wrap class="container">
                <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
                    <div class="col-auto">
                        <div class="sectionTitle -md">
                            <h2 class="sectionTitle__title">為什麼選擇我們</h2>
                            <p class=" sectionTitle__text mt-5 sm:mt-0">這些是我們能提供的服務!</p>
                        </div>
                    </div>
                </div>

                <div class="row y-gap-40 justify-between pt-40 sm:pt-20">

                    <div data-anim-child="slide-up delay-2" class="col-lg-4 col-sm-6">

                        <div class="featureIcon -type-1 -hover-shadow px-50 py-50 lg:px-24 lg:py-15">
                            <div class="d-flex justify-center">
                                <img src="~/img/frontstage/v2/featureicons/2/1.svg" alt="image" class="js-lazy"/>
                            </div>

                            <div class="text-center mt-30">
                                <h4 class="text-18 fw-500">最優惠的價格</h4>
                                <p class="text-15 mt-10">我們和許多平台合作，您可以在眾多車型當中選擇到最優惠的價格。</p>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-3" class="col-lg-4 col-sm-6">

                        <div class="featureIcon -type-1 -hover-shadow px-50 py-50 lg:px-24 lg:py-15">
                            <div class="d-flex justify-center">
                                <img src="~/img/frontstage/v2/featureicons/2/2.svg" alt="image" class="js-lazy" />
                            </div>

                            <div class="text-center mt-30">
                                <h4 class="text-18 fw-500">便捷的租車流程</h4>
                                <p class="text-15 mt-10">我們提供簡單且快速的服務，加快整體租車的流程。</p>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-4" class="col-lg-4 col-sm-6">

                        <div class="featureIcon -type-1 -hover-shadow px-50 py-50 lg:px-24 lg:py-15">
                            <div class="d-flex justify-center">
                                <img src="~/img/frontstage/v2/featureicons/2/3.svg" alt="image" class="js-lazy" />
                            </div>

                            <div class="text-center mt-30">
                                <h4 class="text-18 fw-500">完整的客服系統</h4>
                                <p class="text-15 mt-10">24小時全天候，可以透過電話聯繫及電子郵件聯繫到我們的客服人員。</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="layout-pt-md layout-pb-md">
            <div data-anim-wrap class="container">
                <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
                    <div class="col-auto">
                        <div class="sectionTitle -md">
                            <h2 class="sectionTitle__title">推薦車款</h2>
                        </div>
                    </div>
                </div>

                <div class="relative overflow-hidden pt-40 sm:pt-20 js-section-slider" data-gap="30" data-scrollbar data-slider-cols="xl-4 lg-3 md-2 sm-2 base-1" data-nav-prev="js-cars-prev" data-pagination="js-cars-pag" data-nav-next="js-cars-next">
                    <div class="swiper-wrapper" id="car-list">
                        <!--車輛列表-->
                    </div>
                    <div class="d-flex x-gap-15 items-center justify-center pt-40 sm:pt-20" style="margin-top:350px;">
                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-left-hover js-cars-prev">
                                <i class="icon icon-arrow-left"></i>
                            </button>
                        </div>

                        <div class="col-auto">
                            <div class="pagination -dots text-border js-cars-pag"></div>
                        </div>

                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-right-hover js-cars-next">
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="layout-pt-lg layout-pb-lg">
            <div class="container">
                <div class="row justify-center text-center">
                    <div class="col-auto">
                        <div class="sectionTitle -md">
                            <h2 class="sectionTitle__title">常見問題</h2>
                            <p class=" sectionTitle__text mt-5 sm:mt-0">FAQ</p>
                        </div>
                    </div>
                </div>

                <div class="row y-gap-30 justify-center pt-40 sm:pt-20">
                    <div class="col-xl-8 col-lg-10">
                        <div class="accordion -simple row y-gap-20 js-accordion">

                            <div class="col-12">
                                <div class="accordion__item px-20 py-20 border-light rounded-4">
                                    <div class="accordion__button d-flex items-center">
                                        <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                            <i class="icon-plus"></i>
                                            <i class="icon-minus"></i>
                                        </div>

                                        <div class="button text-dark-1">租車時我需要什麼證件？</div>
                                    </div>

                                    <div class="accordion__content">
                                        <div class="pt-20 pl-60">
                                            <p class="text-15">取車時須出示中華民國身分證及個人有效駕照取車。承租人須備以下證明文件，始得承租車輛。</p>
                                            <ul class="text-15">
                                                <li>本國國民：身分證、駕照。</li>
                                                <li>
                                                    非本國國民：
                                                    <ul>
                                                        <li>於入境 30 天內還車者：護照、互惠國有效之國際駕照、原國駕照、信用卡（有效期限六個月以上）。</li>
                                                        <li>無法於入境 30 天之內還車者：護照、國際駕照簽證或台灣本國駕照、信用卡（有效期限六個月以上）。</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="accordion__item px-20 py-20 border-light rounded-4">
                                    <div class="accordion__button d-flex items-center">
                                        <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                            <i class="icon-plus"></i>
                                            <i class="icon-minus"></i>
                                        </div>

                                        <div class="button text-dark-1">我需年滿幾歲才可以承租車輛？</div>
                                    </div>

                                    <div class="accordion__content">
                                        <div class="pt-20 pl-60">
                                            <p class="text-15">承租人須年滿18歲，並於取車時出示中華民國身分證及個人有效駕照始得承租車輛。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="accordion__item px-20 py-20 border-light rounded-4">
                                    <div class="accordion__button d-flex items-center">
                                        <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                            <i class="icon-plus"></i>
                                            <i class="icon-minus"></i>
                                        </div>

                                        <div class="button text-dark-1">我可以幫他人承租車輛嗎？</div>
                                    </div>

                                    <div class="accordion__content">
                                        <div class="pt-20 pl-60">
                                            <p class="text-15">可以幫他人承租車輛，但除了須提供承租人資料及證件外，也須提供駕駛的資料及相關證件。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="accordion__item px-20 py-20 border-light rounded-4">
                                    <div class="accordion__button d-flex items-center">
                                        <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                            <i class="icon-plus"></i>
                                            <i class="icon-minus"></i>
                                        </div>

                                        <div class="button text-dark-1">承租人應負責任及義務</div>
                                    </div>

                                    <div class="accordion__content">
                                        <div class="pt-20 pl-60">
                                            <ul class="text-15">
                                                <li>承租期間衍生之停車費、交通罰鍰及交通違規導致之費用或損失皆由承租人負擔。</li>
                                                <li>承租人應盡善良管理人之義務使用及維護本車輛。</li>
                                                <li>車輛若有瑕疵或操作不良時，請立即告知，行駛超過40KM或1小時後，將仍須負擔日租金。</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="accordion__item px-20 py-20 border-light rounded-4">
                                    <div class="accordion__button d-flex items-center">
                                        <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                            <i class="icon-plus"></i>
                                            <i class="icon-minus"></i>
                                        </div>

                                        <div class="button text-dark-1">緊急事件處理</div>
                                    </div>

                                    <div class="accordion__content">
                                        <div class="pt-20 pl-60">
                                            <p class="text-15">為保護您的權益，承租車輛發生事故、失竊或肇事事件等，請保持現場，立即通知警察單位處理，並撥打客服專線作後續處理，切勿與對方私下和解，並請即刻和本公司聯絡。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </main>
    
</body>
</html>

@section Scripts
{
    <script>

        // 將日期格式轉換為正確格式
        function normalizeDate(dateString) {
            const parts = dateString.split(/\D+/);
            const year = parts[0];
            const month = parts[1].padStart(2, '0');
            const day = parts[2].padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        // 取得今天的日期
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // 一月是 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        var minDate = yyyy + '-' + mm + '-' + dd;

        // 設置日期選擇器的最小值
        $('#pickupDate').attr('min', minDate);
        $('#dropoffDate').attr('min', minDate);

        document.getElementById('pickupDate').value = today;
        document.getElementById('dropoffDate').value = today;

        $(document).ready(function () {
            // 當取車日期或時間發生變化時
            $('#pickupDate, #pickupTime').change(function () {
                // 獲取取車日期和時間的值
                var pickupDateValue = $('#pickupDate').val();
                var pickupTimeValue = $('#pickupTime').val();

                // 如果取車日期和時間都已選擇
                if (pickupDateValue && pickupTimeValue) {
                    // 將取車日期和時間合併成一個日期時間字串
                    var pickupDateTime = pickupDateValue + 'T' + pickupTimeValue;

                    // 將取車日期時間轉換為 JavaScript Date 物件
                    var pickupDateTimeObj = new Date(pickupDateTime);

                    // 設置還車日期的最小值為取車日期
                    $('#dropoffDate').attr('min', pickupDateValue);

                    // 設置其他日期選擇器的可選範圍
                    updateDatepickerOptions(pickupDateTimeObj);
                }
            });

            // 當還車日期或時間發生變化時
            $('#dropoffDate, #dropoffTime').change(function () {
                // 獲取還車日期和時間的值
                var dropoffDateValue = $('#dropoffDate').val();
                var dropoffTimeValue = $('#dropoffTime').val();

                // 如果還車日期和時間都已選擇
                if (dropoffDateValue && dropoffTimeValue) {
                    // 將還車日期和時間合併成一個日期時間字串
                    var dropoffDateTime = dropoffDateValue + 'T' + dropoffTimeValue;

                    // 將還車日期時間轉換為 JavaScript Date 物件
                    var dropoffDateTimeObj = new Date(dropoffDateTime);

                    // 獲取取車日期時間的值
                    var pickupDateTime = $('#pickupDate').val() + 'T' + $('#pickupTime').val();
                    var pickupDateTimeObj = new Date(pickupDateTime);

                    // 如果還車日期時間早於取車日期時間，顯示通知
                    if (dropoffDateTimeObj <= pickupDateTimeObj) {
                        $('#timepicker .warning-message').show();
                        // 重置還車日期和時間的值
                        $('#dropoffDate').val('');
                        $('#dropoffTime').val('');
                    }
                    else {
                        $('#timepicker .warning-message').hide();
                    }
                }
            });

            // 更新日期選擇器的選項
            function updateDatepickerOptions(pickupDateTimeObj) {
                // 獲取取車日期的年、月、日
                var year = pickupDateTimeObj.getFullYear();
                var month = pickupDateTimeObj.getMonth() + 1; // JavaScript 的月份從 0 開始
                var day = pickupDateTimeObj.getDate();

                // 構建取車日期的字串（YYYY-MM-DD 格式）
                var pickupDateStr = year + '-' + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day);

                // 設置其他日期選擇器的最小值為取車日期
                $('.input-group.date input[type="date"]').not('#pickupDate').attr('min', pickupDateStr);
            }

            // 更新時間選擇器的選項
            function updateTimepickerOptions(pickupDateTimeObj) {
                // 獲取取車日期的小時
                var hour = pickupDateTimeObj.getHours();

                // 如果取車日期的小時小於 10，則補零
                var pickupHourStr = (hour < 10 ? '0' + hour : hour) + ':00';

                // 設置還車時間的最小值為取車時間
                $('#dropoffTime').attr('min', pickupHourStr);
            }


            // 當輸入框中的內容發生變化時，觸發搜尋
            $('.js-pickup-search').on('input', function () {
                // $(this) 表示觸發事件的輸入框
                var keyword = $(this).val();
                // 只有在輸入超過1個字符時才發送請求
                if (keyword.length >= 1) {
                    // 發送 GET 請求到你的 API 端點，並帶上關鍵字參數
                    $.get('/api/RApi/GetServicePoints', { keyword: keyword }, function (data) {
                        // 清空原有的搜尋結果
                        $('.js-pickup-results').empty();
                        // 將返回的資料填充到下拉選單中
                        $.each(data.slice(0, 5), function (index, item) { // 只取前五筆結果
                            var option = $('<button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-search-option"></button>');
                            option.append('<div class="d-flex"><div class="icon-location-2 text-light-1 text-20 pt-4"></div><div class="ml-10"><div class="text-15 lh-12 fw-500 js-search-option-target">' + item.location + '</div></div></div>');
                            option.on('click', function () {
                                // 點擊選項後將選項的值填入輸入框中
                                $('.js-pickup-search').val(item.location);
                            });
                            $('.js-pickup-results').append(option);
                        });
                    });
                }
            });
            $('.js-dropoff-search').on('input', function () {
                var keyword = $(this).val();
                if (keyword.length >= 1) {
                    $.get('/api/RApi/GetServicePoints', { keyword: keyword }, function (data) {
                        // 清空原有的搜尋結果
                        $('.js-dropoff-results').empty();
                        // 將返回的資料填充到下拉選單中
                        $.each(data.slice(0, 5), function (index, item) {
                            var option = $('<button class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-dropoffsearch-option"></button>');
                            option.append('<div class="d-flex"><div class="icon-location-2 text-light-1 text-20 pt-4"></div><div class="ml-10"><div class="text-15 lh-12 fw-500 js-dropoffsearch-option-target">' + item.location + '</div></div></div>');
                            option.on('click', function () {
                                // 點擊選項後將選項的值填入輸入框中
                                $('.js-dropoff-search').val(item.location);
                            });
                            $('.js-dropoff-results').append(option);
                        });
                    });
                }
            });
            // 點擊預設選項時將其值填入輸入框中
            $('.js-search-option').on('click', function () {
                var value = $(this).find('.js-search-option-target').text();
                $('.js-pickup-search').val(value);
                $('.js-pickup-search').next('.warning-message').hide();
            });
            $('.js-dropoffsearch-option').on('click', function () {
                var selectedLocation = $(this).find('.js-dropoffsearch-option-target').text();
                $('.js-dropoff-search').val(selectedLocation);
                $('.js-dropoff-search').next('.warning-message').hide();
            });

            
            // 當輸入框中的內容發生變化時，隱藏警告訊息
            $('.js-pickup-search').on('input', function () {
                $(this).next('.warning-message').hide();
            });
            $('.js-dropoff-search').on('input', function () {
                $('.warning-message').hide();
            });
            $('#pickupTime').on('input', function () {
                $('.datetime-warning-message').hide();
            });
            $('#dropoffTime').on('input', function () {
                $('.datetime-warning-message').hide();
            });

            $.ajax({
                url: '/api/RApi/GetRandomCars', // 修改為後端新的端點
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    $('#car-list').empty();

                    var carCards = []; // 儲存車輛卡片的陣列
                    /* class="swiper-slide" */
                    $.each(data, function (index, car) {
                        var carCard = $('<div "data-anim-child="slide-up delay-2" style="margin-left:30px;"></div>');

                        var carImage = $('<div class="carCard__image" style="width:300px"></div>');
                        var cardImageRatio = $('<div class="cardImage ratio border-light ratio-6:5"></div>');
                        var cardImageContent = $('<div class="cardImage__content"></div>');
                        var carImg = $('<img class="rounded-4 col-12" alt="image">').attr('src', `/img/carRent/${car.fImagePath}`);

                        var carContent = $('<div class="carCard__content mt-10"></div>');
                        var locationInfo = $('<div class="d-flex items-center lh-14 mb-5"></div>').append(
                            $('<div class="text-14 text-light-1"></div>').text(car.fServicePoint),
                            $('<div class="size-3 bg-light-1 rounded-full ml-10 mr-10"></div>'),
                            $('<div class="text-14 text-light-1 uppercase"></div>').text(car.fDescription)
                        );
                        var carTitle = $('<h4 class="text-dark-1 text-18 lh-16 fw-500"></h4>').text(car.fModelName);
                        var carDetails = $('<div class="row x-gap-20 y-gap-10 items-center pt-5"></div>').append(
                            $('<div class="col-auto"></div>').append(
                                $('<div class="d-flex items-center text-14 text-dark-1"></div>').append(
                                    $('<i class="icon-user-2 mr-10"></i>'),
                                    $('<div class="lh-14"></div>').text(car.fNumOfPsgr)
                                )
                            ),
                            $('<div class="col-auto"></div>').append(
                                $('<div class="d-flex items-center text-14 text-dark-1"></div>').append(
                                    $('<i class="icon-luggage mr-10"></i>'),
                                    $('<div class="lh-14"></div>').text(car.fNumOfLuggage)
                                )
                            ),
                            $('<div class="col-auto"></div>').append(
                                $('<div class="d-flex items-center text-14 text-dark-1"></div>').append(
                                    $('<i class="icon-transmission mr-10"></i>'),
                                    $('<div class="lh-14"></div>').text(car.fDescription2)
                                )
                            ),
                            $('<div class="col-auto"></div>').append(
                                $('<div class="d-flex items-center text-14 text-dark-1"></div>').append(
                                    $('<i class="icon-speedometer mr-10"></i>'),
                                    $('<div class="lh-14"></div>').text('無限里程')
                                )
                            )
                        );
                        var carPrice = $('<div class="mt-5"></div>').append(
                            $('<div class="text-light-1"></div>').append(
                                $('<span class="fw-500 text-dark-1"></span>').text(`NT$${car.fRentalFee}`)
                            )
                        );

                        carContent.append(locationInfo, carTitle, carDetails, carPrice);//

                        cardImageContent.append(carImg);
                        cardImageRatio.append(cardImageContent);
                        carImage.append(cardImageRatio);
                        carCard.append(carImage, carContent);
                        carCards.push(carCard); 
                    });
                    $('#car-list').append(carCards);
                },
                error: function (error) {
                    console.error('取得資料時發生錯誤:', error);
                }
            });

            // 點擊搜尋按鈕時導航到下一個頁面並傳遞輸入框的值並處理表單提交
            $('#searchCar').on('click', function (event) {
                // 阻止表單默認提交行為
                event.preventDefault();

                // 獲取輸入框的值
                var pickupLocation = $('.js-pickup-search').val();
                var dropoffLocation = $('.js-dropoff-search').val();
                var pickupDate = $('#pickupDate').val();
                var pickupTime = $('#pickupTime').val();
                var dropoffDate = $('#dropoffDate').val();
                var dropoffTime = $('#dropoffTime').val();

                // 檢查是否有輸入值
                if (pickupLocation.trim() === '' || dropoffLocation.trim() === '' || !pickupDate || !pickupTime || !dropoffDate || !dropoffTime) {
                    // 如果任一輸入框的值為空，則顯示警告文字
                    if (pickupLocation.trim() === '') {
                        $('.js-pickup-search').next('.warning-message').show(); 
                    }
                    if (dropoffLocation.trim() === '') {
                        $('.js-dropoff-search').next('.warning-message').show();
                    }
                    if (!pickupTime || !dropoffTime) {
                        $('.datetime-warning-message').show();
                    };
                    return false; // 阻止表單提交
                }

                // 將輸入框的值添加到 URL 中並導航到下一個頁面
                var nextPageUrl = '@Url.Action("CarLists", "CarRent", new { area = "Customer" })';
                    nextPageUrl += '?pickup=' + pickupLocation + '&pickupDate=' + pickupDate + '&pickupTime=' + pickupTime + '&dropoff=' + dropoffLocation + '&dropoffDate=' + dropoffDate + '&dropoffTime=' + dropoffTime;
                    window.location.href = nextPageUrl;
            });
        });



    </script>
}