@section Styles {

	<style>
		
	</style>
}
@* <div id="map" style="height: 500px;width:500px"></div> *@
<iframe width="600"
		height="450"
		frameborder="0"
		style="border:0"
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCkdoxG9B0K7e4ies97y9xvPKJ6-jNmg_8&q=新北市瑞芳區金光路8-1號"
		allowfullscreen>
</iframe>
@section Scripts {

}

