@{
	ViewData["Title"] = "Index";
}

@section Styles {
	<link href="~/lib/datatables/css/jquery.datatables.css" rel="stylesheet" />
	<style>
		thead {
			background-color: lightslategrey;
			color: black;
		}
		/* 滑鼠懸停時的背景色 */
		.hover-highlight {
			background-color: #f0f0f0 !important; /* 更改為您想要的顏色 */
		}
	</style>
}

<h3>旅遊方案</h3>
@*
<div style="display: flex; justify-content: space-between;">
	<div style="flex: 1; margin-right: 20px;">
		<h3>方案景點管理</h3>
		<table class="table" id="tbplandes">
			<thead>
				<tr>
					<th style="display: none">id</th>
					<th>景點名稱</th>
					<th>景點順序</th>
				</tr>
			</thead>
		</table>

	</div>

	<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<button type="button" style="margin-bottom: 20px;">按鈕1</button>
		<button type="button">按鈕2</button>
	</div>

	<div style="flex: 1; margin-left: 20px;">
		<h3>景點清單</h3>
		<table class="table" id="tbdeslist">
			<thead>
				<tr>
					<th style="display: none">id</th>
					<th>景點名稱</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div style="display: flex; justify-content: space-between;">
	<div style="flex: 1; margin-right: 20px;">
		<h3>方案住宿管理</h3>
		<table class="table" id="tbplanhotel">
			<thead>
				<tr>
					<th style="display: none">id</th>
					<th>飯店順序</th>
					<th>飯店名稱</th>
					<th>房型</th>
					<th>床型</th>
				</tr>
			</thead>
		</table>

	</div>

	<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<button type="button" style="margin-bottom: 20px;">按鈕1</button>
		<button type="button">按鈕2</button>
	</div>

	<div style="flex: 1; margin-left: 20px;">
		<h3>住宿清單</h3>
		<table class="table" id="tbhotel">
			<thead>
				<tr>
					<th style="display: none">id</th>
					<th>飯店名稱</th>
					<th>房型</th>
					<th>床型</th>
				</tr>
			</thead>
		</table>
	</div>
</div> *@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
	<script src="//cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
	<script>

		const loadHotelDataT = () => {
			$("#tbplan").dataTable({
				autoWidth: false,
				ajax: {
					type: 'GET',
					url: "/api/TApi/GetAllTravelPlan",
					dataSrc: function (json) { return json; }
				},
				columns: [
					{ "data": "fTravelId", "visible": false },
					{ "data": "fState" },
					{ "data": "fTravelName" },
					{ "data": "fType" },
					{ "data": "fAreaName" },
					{ "data": "fDay" },
					{ "data": "fTransport" },
					{
						data: null,
						title: "功能",
						render: function (data, type, row) {
							return `<button id="t1" type = "button" class="btn btn-primary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#hotelpartial" onclick="geteditpartial(${row.fDestinationid})"><i class="fa-solid fa-pen-to-square" style="font-size:0.8rem"></i> 編輯</button> ` +
								'<button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash" style="font-size:0.8rem"></i>上架/下架</button>'
						}
					},
				],
				fixedHeader: { header: true },
				language: {
					url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
				},
			})
		}
		$(document).ready(() => {
			loadHotelDataT();
			$('#tbplan tbody').on('click', 'tr', function () {
				var data = $(this).closest('table').DataTable().row(this).data();
				var fTravelId = data.fTravelId;
				const loadHotelDataTD = () => {
					// 先銷毀表格的現有實例
					if ($.fn.DataTable.isDataTable("#tbplandes")) {
						$("#tbplandes").DataTable().destroy();

					}


					$("#tbplandes").dataTable({
						autoWidth: false,
						ajax: {
							type: 'GET',
							url: `/api/TApi/GetTravelPlan2Destionatin?id=${fTravelId}`, // 將 fTravelId 添加為查詢參數
							dataSrc: function (json) { return json; }
						},
						columns: [
							{ "data": "fDestinationDetailId", "visible": false },
							{ "data": "fDestinationName" },
							{ "data": "fTravelDay" },
						],
						fixedHeader: { header: true },
						language: {
							url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
						},
						initComplete: function () {
							// 檢查表格是否為空
							if ($(this).DataTable().data().length === 0) {
								// 如果表格為空，則在 tbody 中顯示 "無資料"
								$(this).find('tbody').html('<tr><td colspan="2">無資料</td></tr>');
							}
						}
					})
				}
				loadHotelDataTD();
			});
			$('#tbplan tbody').on('mouseenter', 'tr', function () {
				$(this).addClass('hover-highlight');
			});
			$('#tbplan tbody').on('mouseleave', 'tr', function () {
				$(this).removeClass('hover-highlight');
			});
		});



	</script>

	@* 景點清單 *@
	<script>
		const loadHotelDataDL = () => {
			$("#tbdeslist").dataTable({
				autoWidth: false,
				ajax: {
					type: 'GET',
					url: "/api/TApi/GetAllDestionation",
					dataSrc: function (json) { return json; }
				},
				columns: [
					{ "data": "fDestinationId", "visible": false },

					{ "data": "fDestinationName" },

				],
				fixedHeader: { header: true },
				language: {
					url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
				},
			})
		}
		$('#tbplan').ready(() => {
			loadHotelDataDL();
		})
	</script>
}